//применение scss и одобряю и нет одновременно, ты его использовал для переменных,
//но уже давно в ходу css variables, другое дело ты бы его применил для каскада, как в случае .contact блока ниже

//prumary->primary
$prumary-color: #2f80ed;
$secondary-color: #333333; // #333 тоже работает

body {
    background-color: #f1f1f1;
    margin: auto;
    margin-left: 25%; // это плохая идея, обычно можно сделать что-то вроде max-width: 980px; margin: 0 auto, что де факто стандарт в позиционировании
}

//лишнее, можно его и на body
html {
    font-family: Roboto, sans-serif;
}

//плохая идея писать ко всем тегам какие-либо свойства, максимум box-sizing модель, и то является антипаттерном
//то же самое можно написать на body
* {
    color:$secondary-color;
    font-size: 1em;
}

//писать стили к тегам не принятно, стоит писать стили только к классам и управлять ими вручную, потому
//что это будет первое место к рефакторингу по мере роста проекта, есть и другие побочки (например веса и переопределение тегов)
//самое норм это почитать теорию по БЭМ
h1 {
    color:$prumary-color;
    font-size: 2em;
    margin-bottom: 0.25em;
}

h2 {
    color:$secondary-color;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
}
h3 {
    color:$prumary-color;
    font-size: 30px;
    margin-bottom: 0.25em;
}
a {
    color: $prumary-color;
}

.contacts {
    margin-bottom: 2em;
}

.contact {
    display: flex;
    font-size: 20px;
    &__type {
        min-width: 100px;
    }
}

.photo {
    width: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    //использовать проценты не принято, обычно используют пиксели, реже em, проценты скорее нужны в сложных компоновках
    margin-top: 5%;
    
}

.info {
    display: flex;
}

.info-text {
    margin-left: 20px;
    margin-top: 5%;
}
.description {
    margin-top: 2%;
    font-size: 21px;
}

.course {
    margin-top: 5%;
}
